<!DOCTYPE html>
<html ng-app="statApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Stats</title>

    <link rel="stylesheet" href="./dist/styles.css">


  </head>
  <body class="backgroundColor" ng-controller="mainCtrl">

    <top-menu></top-menu>

    <!-- <nav class="full-nav" ng-show="displayNav" ng-click="toggleNav()">
      <h1 ui-sref='home'>Home</h1>
      <h1 ui-sref='teamStat'>Team</h1>
      <h1 ui-sref='soloStat'>Solo</h1>
    </nav>
    <nav class="logo-nav" ng-hide='displayNav' ng-click="toggleNav()">

      <div class="logo-nav-img">
        <img src="images/Ham.png" alt="stat logo">
      </div>

    </nav> -->


    <ui-view>
    </ui-view>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js" charset="utf-8"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
    <script src="./dist/js/bundle.js" charset="utf-8"></script>


  </body>
</html>
