.main-solo-stat{
  width: 100%;
  height: 90vh;

}
.user-info{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.upperCase{
  text-transform: uppercase;
}
